@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Apply dark mode styles globally */
  body {
    background-color: black;
    color: white;
  }
}

.dark {
  background-color: black !important;
  color: white !important;
}

.container {
  max-width: 1200px;
}
